<div style="font-size: 50px;text-align: center;">
  Hi My name is Shivaan
</div>

<div style="text-align: center;">
  <input style="font-size: 20px;" type="button" value="Red" onclick="changeBodyColor(event)">
  <input style="font-size: 20px;" type="button" value="Green"  onclick="changeBodyColor(event)">
  <input style="font-size: 20px;" type="button" value="Blue"  onclick="changeBodyColor(event)">
  <input style="font-size: 20px;" type="button" value="Yellow"  onclick="changeBodyColor(event)">
  <input style="font-size: 20px;" type="button" value="white" onclick="changeBodyColor(event)">
  <input style="font-size: 20px;" type="button" value="orange" onclick="changeBodyColor(event)">
  <input style="font-size: 20px;" type="button" value="LightBlue" onclick="changeBodyColor(event)">
  <input style="font-size: 20px;" type="button" value="Black" onclick="changeBodyColor(event)">
  <input style="font-size: 20px;" type="button" value="Teal" onclick="changeBodyColor(event)">
  <input style="font-size: 20px;" type="button" value="Aqua" onclick="changeBodyColor(event)">
</div>

<div style="text-align: center;">
  <input type="text" siz="20" id="colorInput">
  <img id="mic" src="mic.jpg" height="50px" width="50px">

</div>
