<div style="font-size: 50px;text-align: center;">
  Hi My name is Shivaan
</div>

<div style="text-align: center;">
  <input style="font-size: 20px;" type="button" value="Red" (click)="changeBodyColor($event)">
  <input style="font-size: 20px;" type="button" value="Green"  (click)="changeBodyColor($event)">
  <input style="font-size: 20px;" type="button" value="Blue"  (click)="changeBodyColor($event)">
  <input style="font-size: 20px;" type="button" value="Yellow"  (click)="changeBodyColor($event)">
  <input style="font-size: 20px;" type="button" value="white" (click)="changeBodyColor($event)">
  <input style="font-size: 20px;" type="button" value="orange" (click)="changeBodyColor($event)">
  <input style="font-size: 20px;" type="button" value="LightBlue" (click)="changeBodyColor($event)">
  <input style="font-size: 20px;" type="button" value="Black" (click)="changeBodyColor($event)">
  <input style="font-size: 20px;" type="button" value="Teal" (click)="changeBodyColor($event)">
  <input style="font-size: 20px;" type="button" value="Aqua" (click)="changeBodyColor($event)">
</div>

<div style="text-align: center;">
  <input type="text" siz="20" id="colorInput">
  <img id="mic" src="assets/mic.jpg" height="50px" width="50px">

</div>
